{% extends "hospital_management/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid">

    <h1> Area is under experiment , please ignore :D </h1>
    <div class= row>
        <div class="col-3 scroll-hidden" style= " height : calc(100vh - 100px);">

            <div class="card my-" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'hospital_management/images/obito.jpg' %}" style="height:400px; width : 250px ">
                <div class="card-body">
                  <h5 class="card-title">Sidebar here</h5>
                  <a href="#" class="btn btn-primary">Logout</a>
                </div>
              </div>
            
        </div>
        <div class="col-9 scroll-hidden" style= "height : calc(100vh - 100px); ">
            sd2

            <!-- <div class="container ">
				<div class="row text-center">
					<div class="col-xs-4"> -->
                        Hidden scroll test
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                            <br>1
                            <br>2
                            <br>3
                            <br>4
                            <br>5
                            <br>6
                            <br>7
                            <br>8
                            <br>9
                            <br>10
                          </div>
        </div>
    </div>
        
    
  </div>
</div>

{% endblock %}