{% extends "hospital_management/layout.html" %}
{% load widget_tweaks %}
{% block body %}

<h1>Login</h1>

{% if message %}
    <div class="alert alert-danger" role="alert"> {{ message }} </div>
{% endif %}


<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="login_username">Username</label>
    <input autofocus class="form-control" id = "login_username" type="text" name="username" placeholder="Jony">
    <label for="login_pass">Discription</label>
    <input class="form-control" id = "login_pass" type="password" name="password" placeholder="*********">
    <input class="btn btn-primary" type="submit" value="Login">
</form>

<div >
    Don't have an account? <a class="card-link" href="">Register here.</a>
</div>
<!-- <form method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
    {% csrf_token %}
    <div>{% render_field form.username placeholder="Username" %}</div>
    <div>{% render_field form.password placeholder="Password" %}</div>
    <button type="submit">Login</button>
</form> -->
{% endblock body %}