{% extends "hospital_management/layout.html" %} {% load static %} {% load
widget_tweaks %} {% block links %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'hospital_management/css/login.css' %}"
/>
{% endblock links %} {% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="login-container">
        <h1>Login</h1>
        {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <label for="login_username">Username</label>
          <input
            autofocus
            class="form-control"
            id="login_username"
            type="text"
            name="username"
            placeholder="Jony"
          />
          <br />
          <label for="login_pass">Password</label>
          <input
            class="form-control"
            id="login_pass"
            type="password"
            name="password"
            placeholder="*********"
          />
          <input class="btn btn-primary" type="submit" value="Login" />
        </form>

        <div>
          For patients
          <a class="card-link" href="/patient/register">Register here.</a><br />
          For doctors
          <a class="card-link" href="/doctor/register">Register here.</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="login-container">
        <h1>Dont have an account?</h1>
        <button onclick="location.href = '/logout' " class="logout">Logout</button>
  </div>
</div>

{% endblock body %}
