{% extends "hospital_management/layout.html" %}
{% load widget_tweaks %}
{% block body %}
<h1>Register Doctor</h1>
<form method="POST" enctype="multipart/form-data" action="{% url 'doctor-register' %}">
    {% csrf_token %}
    <div>{% render_field user_form.first_name placeholder="First Name" %}</div>
    <div>{% render_field user_form.last_name placeholder="Last Name" %}</div>
    <div>{% render_field user_form.username placeholder="Username" %}</div>
    <div>{% render_field user_form.password placeholder="password" %}</div>
    <div>{% render_field doctor_form.address placeholder="Address" %}</div>
    <div>{% render_field doctor_form.contact_no %}</div>
    <div>{% render_field doctor_form.sex %}</div>
    <div>{% render_field doctor_form.department %}</div>
    <button type="submit">Register</button>
</form>
{% endblock body %}