{% extends "hospital_management/layout.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/doctorlist.css' %}" />
{% endblock links %}

{% block body %}
<div class="container">
    <h1>Appointments</h1>
    {% for a in appointments %}
    <div class="doctor-card">
        <p><strong>Patient name</strong>: {{a.patient_name}}</p>
        <p><strong>Appointment Date: </strong>{{a.appointment_date}}</p>
        <p><strong>Description</strong>: {{a.description}}</p>
        <a href="/doctor/prescribe/{{a.pk}}"><button>Prescribe</button></a>
    </div>
    {% endfor %}
</div>
{% endblock body %}