.container {
    width: 80%;
    margin: auto;
}

.doctor-card {
    background-color: rgb(182, 215, 252);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.doctor-card button {
    width: max-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(216, 245, 149);
}
