{% extends "hospital_management/layout.html" %}
{% block body %}
<h1>Appointment Booked</h1>
<div>
    <h4>Doctor Name: {{appointment.doctor_name}}</h4>
    <p><strong>Description : </strong>{{appointment.description}}</p>
    <p><strong>Appointment Date: </strong>{{appointment.appointment_date}}</p>
    {% if appointment.status == True %}
    <p><strong>Status</strong> - Booked</p>
    {% else %}
    <p><strong>Status</strong> - Not Booked</p>
    {% endif %}
</div>
<a href='/patient/dashboard'>Go to dashboard</a>
{% endblock body %}