<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./dashboard.css">
    </head>
    <body>
        <div>
            <div class=container>
                <div class = user>
                    <img class=img src='./sample.png'/>
                    <h3 class=name>Rajan Patil</h3>
                    <h5 class=type>Patient</h5>
                    <hr class=line>
                    <button class=button>Profile</button>
                    <button class=button>Appointment History</button>
                    <button class=button>Payment</button>
                    <button class=logout>Logout</button>
                </div>
                <div class=welcome>
                    <h2 class=heading>Welcome Rajan!</h2>
                    <h4 class=subheading>Tell us, how can we help you today</h4>
                    <div class=optiondiv>
                        <button class=option1>Book an appointment</button>
                        <button class=option2>Find a Doctor</button>
                        <button class=option3>Book a Test</button>  
                    <div/>          
                </div>
            </div>
        </div>
    </body>
</html>
