{% extends "hospital_management/layout.html" %}
{% load widget_tweaks %}
{% block body %}
<h1>Register Patient</h1>
<form method="POST" enctype="multipart/form-data" action="{% url 'patient-register' %}">
    {% csrf_token %}
    <div>{% render_field user_form.first_name placeholder="First Name" %}</div>
    <div>{% render_field user_form.last_name placeholder="Last Name" %}</div>
    <div>{% render_field user_form.username placeholder="Username" %}</div>
    <div >{% render_field user_form.password placeholder="password" type="password" %}</div>
    <div>{% render_field patient_form.address placeholder="Address" %}</div>
    <div>{% render_field patient_form.contact_no placeholder="ContactNo"%}</div>
    <div>{% render_field patient_form.symptoms placeholder="Symptoms" %}</div>
    <div>{% render_field patient_form.sex %}</div>
    <button type="submit">Register</button>
</form>
{% endblock body %}